.navbar {
    
    background-color: black !important ; 
  height: 70px;
  } 
  
   .navbar .navbar-brand{
  
  color: aliceblue;
  font-size: 50px;
  font-family: serif;
 
  }

  /* .navbar-trans{

    background: transparent ;
  } */
  
      .navbar .navbar-nav li a{
  
    color: aliceblue !important;
   
    font-size: 24px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }

  .navbar-nav.navbar-center { 
    position: absolute; 
    left: 50%; 
    transform: translatex(-50%); 
} 
/* 
.bg-dark{
background-color: transparent !important;

} */
