<nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top" >
    <a class="navbar-brand">Harpreet</a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button >
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class=" navbar-nav navbar-center">
        <li class="nav-item active">
          <a class="nav-link"  href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT</a>
        </li>
      
      </ul>
    </div>
  </nav>


