<div>
    <footer style="background-color: black;">
    
      <div class="container">
    <div class="row">
    
    <div class="col-md-4">
      <div class="card mx-auto mt-5" style="width: 18rem;">
        <div class="card-body text-center" >
         <h3><i class="fa fa-home"></i></h3>
          <h5 class="card-title">Address</h5>
          <hr style="width: 100px; background-color:cadetblue;">
          <p class="card-text">New Delhi</p>
        </div>
        
      </div>
    </div>
    
      <div class="col-md-4">
        <div class="card mx-auto mt-5" style="width: 18rem;">
          <div class="card-body text-center">
            <h3><i class="fa fa-envelope"></i></h3>
            <h5 class="card-title">Email</h5>
            <hr style="width: 100px; background-color:cadetblue;">
            <p class="card-text">harpreet@gmail.com</p>
          </div>
        </div>
      </div>
    
        <div class="col-md-4">
          <div class="card mx-auto mt-5" style="width: 18rem;">
            <div class="card-body text-center">
              <h3><i class="fa fa-mobile"></i></h3>
          <h5 class="card-title">Mobile no.</h5>
          <hr style="width: 100px; background-color:cadetblue;">
          <p class="card-text">+916464535476</p>
            </div>
          </div>
    
        </div>
    
    </div>
    
    
    <!-- Add font awesome icons -->
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <div >
      <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fadd.a.link%2F" class="btn btn-social-icon btn-facebook" style="margin-left: 40%;" target="_blank">
        <span class="fa-stack fa-lg">
      <i class="fa fa-square-o  fa-stack-2x"></i>
      <i class="fa fa-facebook-square fa-stack-1x"></i>
    </span>
      </a>
      <a href="https://twitter.com/el_alturas" class="btn btn-social-icon btn-twitter" target="_blank">
        <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-twitter-square fa-stack-1x"></i>
    </span>
      </a>
      <a href="https://www.linkedin.com/login" class="btn btn-social-icon btn-linkdein" target="_blank">
        <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-linkedin-square fa-stack-1x"></i>
    </span>
      </a>
    </div>
    
    
    
    <!-- <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a> -->
    
    
    
    
    <div>
    
        <div style="text-align: center;color: cornsilk; padding-bottom: 30px; margin-top: 40px;">
           <p> Copyright &copy; Your Website</p>
        </div>
    
    
    </div>
    
      </div>
    
    </footer>
    
    </div>
  