.text-center {
text-align: center !important;
 }
    
    
.card-body {
 flex: 1 1 auto;
 min-height: 1px;
 padding: 1.25rem;
}




/*-------------------------------- icons -----------------------------------*/


.fa{

 font-size: 45px;
 width: 60px;
 text-align: center;
 text-decoration: none;
  border-radius: 50%;
 margin-bottom: 30px;

}



