.one{
    background-image: url("../../assets/images/image/projct9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
  
}

h1{

    color:aliceblue;
     font-style: italic;
      text-align: center;
       font-size: 100px;
        padding-top: 200px;
}
h4{
    color:aliceblue;
    font-style: italic;
     text-align: center;
      font-size: 80px;
       
}