<div class="about">

<div  style="text-align:center; color: aliceblue;">

    <h1 style="font-size: 100px;">ABOUT</h1>
    <hr >
    <h3>Who I am and why I design</h3>
    <br>
    <p style="font-size:22px;" class="mx-5">
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <br>
    <div>
    
      <div class="row" style=" color: aliceblue; margin-left: 40px; margin-right: 40px;  text-align: center;">
        <div style="flex: 1;">
          <h1>What I do and my experience</h1>
          <p style="font-size: 20px;" class="mx-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
         
        </div>
        <div style="flex: 1;">
      <h1>My goals</h1> 
      <p style="font-size: 20px;" class="mx-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          
            </div>
      </div>
    </div>
    
    </div>
</div>