.about{
    background-image: url("../../assets/images/image/darkblue3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 700px;
     padding-top: 90px;
}
hr{
background-color: rgb(93, 98, 100);
width: 70%;
}
@media  (max-width: 414px){

  .about{
    height: 1550px;
  }
}