.two{
    padding-top: 200px;
    background-image: url("../../assets/images/image/projct6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;}

.btn{
    margin-left: 35%;
    margin-top: 30px;

    }

    h1{
        text-align: center;
         font-size: 70px;
          font-family: serif;
           font-style: bold;
            color: black;
            text-shadow: 0 0 5px white; 
    }
    p{
        text-align: center;
         color: rgb(211, 233, 233);
    }