<div class="two" >
 

    <h1 >CONTACT</h1><br>
    <p >SEND ME A MESSAGE</p>
    
    
    <div>
    
      <form class="container"> 
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Your Name" [(ngModel)]="name" name="name" required><br>
            <input type="text" class="form-control" placeholder="Your Email"  [(ngModel)]="email" name="email" required><br>
           <input type="text" class="form-control" placeholder="Your Phone Number"  [(ngModel)]="phone" name="phone" required><br>
          </div>
          <div class="col">
            <textarea  rows="7"  cols="70 " type="text" class="form-control" placeholder="Your Message" [(ngModel)]="Message" name="Message" required></textarea>
          
          </div>
        </div>
        <div class="row">
    
          <button type="submit" class="btn btn-primary" (click)="addNotes()" style=" background-color: antiquewhite; color: black;font-size: 20px; font-style: oblique;width: 30%;">Submit</button>
        </div>
      </form>
    
     </div>
    </div> 
