.services{
padding-top: 100px;
padding-bottom: 80px;
background-color:rgb(226, 188, 174,0.5);
}
h1{
    text-align: center;
     margin-bottom: 60px;
      font-size: 60px;
       font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif, sans-serif;
}
hr{

    width: 70%;
    margin-bottom: 60px;
    background-color: black;
}

.Service{
padding-left: 50px;
padding-right: 50px;


}

.box{

text-align: center;
background-color: blanchedalmond;
}
.box-img{
   
    border: 10px solid black;
    width: fit-content;
}
.row{
    margin-top: 30px;
}