<div class="services" >

  <h1  >SERVICES</h1>
  <hr >
  
  <div class=" Service " >
  
  <div class="row">
    <div class=" image mx-5 " style="flex:1;">
      <div class="box-img">
      <img src="../../assets/images/image/webdev.jpg" width="100%" height="300px" alt="one">
    </div>
  </div>
  <div class=" content mx-5 "  style="flex:1;"><br><br>
    <div class="box">
   <h2> WEB DESIGNING</h2>
  <p style="font-size: 25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque maiores quibusdam, tempore repellendus minus voluptas unde fugiat ut reprehenderit nobis? Corporis blanditiis deleniti nihil? Officia tempore inventore eligendi facilis error.</p>
  </div>
</div>
  
  </div>
  <br><br>
  
  <div class="row">
    <div class=" content mx-5"  style="flex:1;"><br><br>
      <div class="box">
      <h2> WEB SECURITY</h2>
      <p style="font-size: 25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quos neque commodi consequuntur similique laboriosam, laudantium dolor expedita, inventore explicabo cum atque itaque debitis velit, nulla blanditiis nesciunt quis facilis!</p>
    </div>
    </div>
    <div class=" image mx-5 " style="flex:1;">
    <div class="box-img">
   
   <img src="../../assets/images/image/security.jpg" width="100% " height="300px" alt="one">
  </div>
  </div>
  </div>
  <br><br>
  
  <div class="row">
    <div class=" image mx-5 " style="flex:1;">
      <div class="box-img">
      <img src="../../assets/images/image/graphic.jpg" width="100%" height="300px" alt="one">
    </div>
    </div>
    <div class=" content mx-5 "  style="flex:1;"><br><br>
    <div class="box">
   <h2> GRAPHIC DESIGNING</h2>
  <p style="font-size: 25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis similique nemo beatae atque quam quae, quo veritatis veniam vero temporibus, omnis pariatur placeat quis aliquid praesentium. Nemo, sapiente necessitatibus! Libero!</p>
  </div>
  </div>
  </div>
  <br><br>
  
  </div>
  
  </div>